body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  min-height: 90vh;
}

.footer {
  margin: 10px;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}


.main-loader-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-container {
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


.filter-dropdown {
  margin-left: 10px;
}

.cursor-pointer {
  cursor: pointer !important;
}

.pre-line {
  white-space: pre-line;
}

@media print {
  i.icon {
    display: none !important;
  }
  table {
    width: 90% !important;
  }
  div.menu {
    display: none !important;
  }
}
